@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,600,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.headerShadow {
    filter: drop-shadow(0 20px 13px rgb(74 19 160 / 0.15)) drop-shadow(0 8px 5px rgb(74 19 160 / 0.25));
}

.table-transpose, .table-transpose tbody {
    display: flex;
    flex-direction: row;
}

.table-transpose tr {
    display: flex;
    flex-direction: column;
}

tr td:first-child {
    background-color: #6022c8;
    color: white;
}

tr td:first-child {
    padding: 2px 8px;
}

.table-transpose td,
.table-transpose th {
    display: flex;
    min-height: 50px;
    align-items: center;
    padding: 0.5rem 1rem;
}

/* Row description labels*/
.table-transpose th {
    justify-content: flex-end;
    font-weight: normal;
    padding: 0.5rem 0;
    color: #dedede;
    white-space: nowrap;
}

.table-transpose td {
    width: 250px;
    justify-content: center;
    align-items: center;
}

/* Dark striped rows */
.table-transpose td:not(:first-child):nth-child(odd) {
    color: white;
}

.table-transpose td:not(:first-child):nth-child(even) {
    background-color: rgb(76 29 149);
    color: white;
}

.accentCell {
    padding: 0 !important;
}

.triangleAccent {
    width: 100%;
    height: 117px;
}

/* Product name & triangle accent */
.table-transpose td:nth-child(2),
.table-transpose th:nth-child(2) {
    height: 117px !important;
}

/* Description row */
.table-transpose td:nth-child(7),
.table-transpose th:nth-child(7){
    height: 75px !important;
}

.table-transpose tr {
    padding-left: 10px;
    padding-right: 10px;
}

.table-transpose tr:not(:last-child):not(:first-child) {
    border-right: 1px solid #6022c8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
