@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,600,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-transpose, .table-transpose tbody {
  display: flex;
  flex-direction: row;
}

.table-transpose tr {
  display: flex;
  flex-direction: column;
}

tr:first-child,
tr td:first-child {
  background-color: #9333ea;
  color: white;
}

tr td:first-child {
    padding: 2px 8px;
}

.table-transpose td,
.table-transpose th {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0.5rem 1rem;
}

.table-transpose td {
    width: 250px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}




.flag {
  width: 100%;
  height: 56px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #32557f;
  color: #7eb4e2;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.flag::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #7eb4e2;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  }


@tailwind base;
@tailwind components;
@tailwind utilities;
