@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,600,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-transpose, .table-transpose tbody {
  display: flex;
  flex-direction: row;
}

.table-transpose tr {
  display: flex;
  flex-direction: column;
}

tr:first-child,
tr td:first-child {
  background-color: #9333ea;
  color: white;
}

tr:not(:first-child) th {
  text-align: left;
  background-color: #9333ea;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white
}

th, td {
  padding: 0.5rem 0.25rem;
}

tr:not(:first-child):nth-child(odd) {
  background-color: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
